.echo-radio-group {
  @apply flex 
         gap-2;
}

.echo-radio {
  @apply inline-flex 
         cursor-pointer 
         text-foreground
         items-center
         select-none;
}

.echo-radio__disabled {
  @apply opacity-70 
         cursor-not-allowed;
}

.echo-radio-input {
  @apply appearance-none 
         mr-2
         w-5
         h-5
         rounded-full
         cursor-pointer 
         bg-button
         border-button
         checked:bg-primary  
         checked:border-4;

  &:disabled {
    @apply cursor-not-allowed 
           checked:bg-muted;
  }
}

.echo-radio-label {
  @apply text-sm;
}
