@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --island-c-brand: #fdaa04;
  --island-c-brand-light: #e79d09;
  --island-c-brand-dark: #e9a00d;
  --island-c-brand-darker: #f0b338;
  --island-c-bg: #ffffff;

  --island-c-text-code: #e9a00d;
}

.dark {
  --island-c-bg: #1e1e1e;
}

pre.prism-code {
  background-color: var(--echo-background) !important;
  border-radius: 0.25rem;
  padding: 1rem;
  overflow: auto;
}

pre {
  background-color: var(--echo-background) !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 3px;
  background-color: var(--echo-muted);
}

.dark ._has-sidebar_1cxuf_16 ._content_1cxuf_24 {
  background: none;
}

table,
thead th {
  font-size: 0.85rem !important;
}

tbody td:nth-child(1) {
  min-width: 150px !important;
}

tbody td:nth-child(2) {
  width: 270px !important;
  min-width: 200px !important;
}

tbody td:nth-child(3) {
  max-width: 200px !important;
  overflow-x: scroll;
}

tbody td:nth-child(4) {
  max-width: 150px !important;
  overflow-x: scroll;
}

button[data-slot='tab'] {
  outline: none !important;
}
