@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --island-c-brand: #fdaa04;
  --island-c-brand-light: #e79d09;
  --island-c-brand-dark: #e9a00d;
  --island-c-brand-darker: #f0b338;
}

pre.prism-code {
  background-color: #f6f8fa !important;
  border-radius: 0.25rem;
  padding: 1rem;
  overflow: auto;
}

@layer base {
  .dark {
    pre.prism-code {
      @apply bg-background !important;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 3px;
  background-color: var(--echo-muted);
}
