.echo-input {
  @apply block 
    px-3 
    py-2 
    border
    border-input
    bg-input
    select-none
    text-foreground
    rounded-md 
    shadow-sm 
    outline-none
    transition-[border]
    placeholder-muted
    focus:ring-primary
    focus:border-primary
    sm:text-sm;
  -moz-appearance: textfield;
}

.echo-input::-webkit-inner-spin-button,
.echo-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.echo-input__disable {
  @apply border-muted;
  background-image: var(--echo-muted);
}

.echo-input__dragging {
  @apply cursor-ns-resize;
}

.echo-input__dragging::selection {
  @apply bg-transparent transition-colors;
}
