@tailwind components;

@layer components {
  .echo-input {
    @apply block 
    w-full 
    px-3 
    py-2 
    border-2
    border-muted
    text-foreground
    rounded-md 
    shadow-sm 
    outline-none
    transition-[border]
    placeholder-muted
    focus:ring-primary
    focus:border-primary
    sm:text-sm 
    z-10
    bg-input;
  }

  .echo-input[type='number']::-webkit-inner-spin-button,
  .echo-input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .echo-input[type='number'] {
    -moz-appearance: textfield;
  }

  .echo-input[type='number']::-ms-clear,
  .echo-input[type='number']::-ms-reveal {
    display: none;
  }
}
