@tailwind components;

@layer components {
  .echo-input {
    @apply block 
    w-full 
    px-3 
    py-2 
    border
    border-muted
    text-foreground
    rounded-md 
    shadow-sm 
    outline-none
    transition-[border]
    placeholder-muted
    focus:ring-primary
    focus:border-primary
    sm:text-sm 
    bg-input;
  }
}
