@import 'tailwindcss';
@import '../../packages/theme.css';
@source '../../packages';

body {
  background-color: var(--echo-background);
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 3px;
  background-color: var(--echo-muted);
}
