@tailwind components;

@layer components {
  .echo-input {
    -moz-appearance: textfield;
    appearance: textfield;

    &:disabled {
      background-image: var(--echo-muted);
    }
  }

  .echo-input::-webkit-inner-spin-button,
  .echo-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
