@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --echo-background: #f1efef;
    --echo-foreground: #181818;
    --echo-card: #dadada;
    --echo-card-foreground: #2a2a2a;
    --echo-popover: 0 0% 100%;
    --echo-popover-foreground: 240 10% 3.9%;

    --echo-button-bg: #ececec;

    /* primary for Button */
    --echo-primary: #ffbe3b;
    --echo-primary-foreground: #d48e04;

    /* secondary colors for button */
    --echo-secondary: #fdc555;
    --echo-secondary-foreground: #e79b03;

    /* muted background for Tablist、Skeleton、Switch */
    --echo-muted: #cfcfcf;
    --echo-muted-foreground: #353535;

    /* accent for effects such as hover、focus at DropdownMenuItem、SelectItem */
    --echo-accent: 240 4.8% 95.9%;
    --echo-accent-foreground: 240 5.9% 10%;

    /* for error Button */
    --echo-destructive: 0 84.2% 60.2%;
    --echo-destructive-foreground: 0 0% 98%;

    --echo-border: 240 5.9% 90%;

    /* Input for Input、Select、Textarea */
    --echo-input: 240 5.9% 90%;
    --echo-ring: 240 5.9% 10%;
    --echo-radius: 0.5rem;
  }

  .dark {
    --echo-background: #181818;
    --echo-foreground: #f1efef;
    --echo-card: #2a2a2a;
    --echo-card-foreground: #dadada;
    --echo-popover: 240 10% 3.9%;
    --echo-popover-foreground: 0 0% 98%;

    --echo-button-bg: #262626;

    --echo-primary: #d48e04;
    --echo-primary-foreground: #ffbe3b;
    --echo-secondary: #e79b03;
    --echo-secondary-foreground: #fdc555;

    --echo-muted: #353535;
    --echo-muted-foreground: #cfcfcf;

    --echo-accent: 240 3.7% 15.9%;
    --echo-accent-foreground: 0 0% 98%;

    --echo-destructive: 0 62.8% 30.6%;
    --echo-destructive-foreground: 0 0% 98%;

    --echo-border: 240 3.7% 15.9%;
    --echo-input: 240 3.7% 15.9%;
    --echo-ring: 240 4.9% 83.9%;
  }
}
