@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --echo-background: #f1efef;
  --echo-foreground: #181818;
  --echo-card: #dadada;
  --echo-card-foreground: #2a2a2a;
  --echo-popover: 0 0% 100%;
  --echo-popover-foreground: 240 10% 3.9%;

  --echo-primary: #ffb829;
  --echo-primary-foreground: #d48e04;

  --echo-secondary: #fdc555;
  --echo-secondary-foreground: #e79b03;

  --echo-muted: #8f8f8f;
  --echo-muted-foreground: #434343;

  --echo-accent: #f4f4f5;
  --echo-accent-foreground: #2e2e2e;

  --echo-destructive: 0 84.2% 60.2%;
  --echo-destructive-foreground: 0 0% 98%;

  --echo-border: 240 5.9% 90%;

  --echo-button: #d3d3d3;
  --echo-input: #e4e4e7;
  --echo-ring: 240 5.9% 10%;
  --echo-radius: 0.5rem;
}

.dark {
  --echo-background: #181818;
  --echo-foreground: #f1efef;
  --echo-card: #2a2a2a;
  --echo-card-foreground: #dadada;
  --echo-popover: 240 10% 3.9%;
  --echo-popover-foreground: 0 0% 98%;

  --echo-primary: #e49c0c;
  --echo-primary-foreground: #ffbe3b;
  --echo-secondary: #e79b03;
  --echo-secondary-foreground: #fdc555;

  --echo-muted: #565656;
  --echo-muted-foreground: #cfcfcf;

  --echo-accent: #27272a;
  --echo-accent-foreground: #f4f4f5;

  --echo-destructive: 0 62.8% 30.6%;
  --echo-destructive-foreground: 0 0% 98%;

  --echo-border: 240 3.7% 15.9%;
  --echo-button: #262626;
  --echo-input: #27272a;
  --echo-ring: 240 4.9% 83.9%;
}
